In [2]:
import pandas as pd

In [2]:
data = pd.read_csv('2022_minors.csv')

,Minor,Description,ID
0,Absent/excessively tardy w/o permission from a...,Student was absent from four dorm accountabili...,1841176
1,Absent/excessively tardy w/o permission from a...,Student missed accountability 3 days in a row....,1867817
2,Absent/excessively tardy w/o permission from a...,This student had excessive absences from class...,1867817
3,Absent/excessively tardy w/o permission from a...,This student had excessive absences from class...,1864555
4,Absent/excessively tardy w/o permission from a...,This student had excessive absences from class...,1881632
...,...,...,...
144,"Using profanity, abusive, or obscene language",Student cursed profanities while refusing to d...,1864387
145,"Using profanity, abusive, or obscene language",Student called residential counselor a Bitch w...,1876370
146,"Using profanity, abusive, or obscene language",Student was told not to cook after curfew. Stu...,1848674
147,Violating center dress code,Student was reminded to remove his head coveri...,1861720
148,Violating center dress code,Shylee refused to put on uniform today.,1876179

In [9]:
data['Minor'].unique()

array(['Absent/excessively tardy w/o permission from assigned activi',
       'Failing to follow instructions', 'Failing to follow safety rules',
       'Failure to follow the student handbook rules',
       'Refusing to perform assignments',
       'Smoking in an unauthorized area',
       'Using profanity, abusive, or obscene language',
       'Violating center dress code'], dtype=object)

In [3]:
data2 = pd.read_csv('IncidentVolumeCV.csv')

In [4]:
data2

,IncidentDesc,BehaviorDt,StudLname,StudFname,StudMi,StudId,Location,IncidentType,StaffId
0,Absent/excessively tardy w/o permission from a...,1/22/2022 15:00,ACOSTA,SAYYID,A,1867817.0,Dorm 22,Minor Infraction,33482.0
1,Absent/excessively tardy w/o permission from a...,1/25/2022 7:00,ACOSTA,SAYYID,A,1867817.0,Bldg.2 - Education,Minor Infraction,33482.0
2,Student has overcome some difficult challenges,1/25/2022 7:00,ACOSTA,SAYYID,A,1867817.0,Dorm 22,Positive,33482.0
3,Student exceeded expectations,1/30/2022 18:30,ACOSTA,SAYYID,A,1867817.0,Dorm 22,Positive,33482.0
4,Absent/excessively tardy w/o permission from a...,2/1/2022 7:00,ACOSTA,SAYYID,A,1867817.0,Bldg.2 - Education,Minor Infraction,33482.0
...,...,...,...,...,...,...,...,...,...
950,Student exhibited teamwork today,2/12/2022 16:45,WILLIS,CODY,J,1883190.0,Dorm 23,Positive,33482.0
951,Absent/excessively tardy w/o permission from a...,2/15/2022 8:34,WILLIS,CODY,J,1883190.0,Bldg.2 - Education,Minor Infraction,33482.0
952,Volunteering for extra duty,3/10/2022 21:15,WILLIS,CODY,J,1883190.0,Dorm 23,Positive,33482.0
953,Student was observed modeling positive behaviors,3/2/2022 14:03,WILLIS,CODY,J,1883190.0,Bldg.2 - Education,Positive,33482.0
954,Absent/excessively tardy w/o permission from a...,5/10/2022 8:34,WILLIS,CODY,J,1883190.0,Bldg.2 - Education,Minor Infraction,33482.0

In [5]:
data2['StaffId'].unique()

array([ 33482., 105056., 119036.,     nan])